.mainpage img {
    width: 97%;
    height: auto;
    padding-bottom: 25px;
    border-bottom: 2px solid rgb(161, 161, 161);
}

.input-form {
    display: flex;
    flex: column wrap;
    justify-content: center
}

input {
    padding: 10px;
    width: 20%;
    /* margin-bottom: 10px; */
}

.nav-bar {
    height: 15%;
    margin: 20px 0;
}

.nav-bar img {
    width: 250px;
}

.post {
    border: 1px solid gray;
    margin: 10px;
    margin-top: 25px;
    height: 100%;
    background-color: rgb(221, 240, 252);
    color: black;
    text-decoration: none;
}

.post-form button {
    font-family: 'Didot', serif;
    padding: 5px 20px;
    margin: 10px;
}
.post-form button:hover {
    background-color: rgb(221, 240, 252);
}


