.App {
  text-align: center;
  margin: 0 20%;
  font-family: 'Didot', serif;
}

a {
  text-decoration: none;
}
a:visited { 
  text-decoration: none; 
  color:black; 
}

button {
  font-family: 'Didot', serif;
}

input {
  font-family: 'Didot', serif;
}